* {
    box-sizing: border-box;
}
body{
    background-color: #f1f1f1ff;
    overflow: hidden;
}


#title-container{
    display: flex;
    width: 375px;
    margin: auto;
}
#logo-container{
    flex-grow: 0;
}

#logo{
    margin: auto;
    margin-top: 16px;
    display: block;
    
   
}

#header{
    font-family: 'Beau Rivage', cursive;
    text-align: center;
    font-size: 56px;
    flex-grow: 1;
    margin-bottom: 16px;
}
.content,
#url,
button{
    font-size: 1.1rem;
}

.content{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    
}

.input-container{
    display: flex;
    justify-content: center;
    gap: 16px;
}

#url{
    
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    max-width: 250px;

}

button{
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    background-color: blue;
    color: white;
    border-radius: 8px;
    border: none;
    width: 100px;
}
button:hover{
    cursor: pointer;
}